aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiolimiter==1.2.1
aiosignal==1.4.0
alembic==1.17.2
annotated-doc==0.0.3
annotated-types==0.7.0
anthropic==0.75.0
anyio==4.11.0
anytree==2.13.0
asttokens==2.4.1
attrs==25.4.0
autogen-agentchat==0.7.5
autogen-core==0.7.5
autogenstudio==0.4.2.2
autograd==1.8.0
azure-ai-documentintelligence==1.0.2
azure-ai-inference==1.0.0b9
azure-ai-projects==2.0.0b2
azure-common==1.1.28
azure-core==1.36.0
azure-cosmos==4.14.1
azure-identity==1.25.1
azure-search-documents==11.6.0
azure-storage-blob==12.27.1
beartype==0.18.5
beautifulsoup4==4.14.3
blis==1.3.0
brotli==1.2.0
catalogue==2.0.10
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
cloudpathlib==0.23.0
cobble==0.1.4
colorama @ file:///C:/ci_311/colorama_1676422310965/work
coloredlogs==15.0.1
comm @ file:///C:/b/abs_67a8058udb/croot/comm_1709322909844/work
confection==0.1.5
contourpy==1.3.3
cryptography==46.0.3
cycler==0.12.1
cymem==2.0.11
dataclasses-json==0.6.7
debugpy @ file:///C:/miniconda3/conda-bld/debugpy_1762421657701/work
decorator @ file:///C:/miniconda3/conda-bld/decorator_1757341249812/work
defusedxml==0.7.1
deprecation==2.1.0
devtools==0.12.2
distro==1.9.0
dnspython==2.8.0
docstring_parser==0.17.0
email-validator==2.3.0
environs==14.5.0
et_xmlfile==2.0.0
executing @ file:///C:/miniconda3/conda-bld/executing_1757061250618/work
fastapi==0.121.0
fastapi-cli==0.0.16
fastapi-cloud-cli==0.6.0
fastar==0.8.0
fastuuid==0.14.0
ffmpy==0.6.4
filelock==3.20.0
flatbuffers==25.9.23
fnllm==0.4.1
fonttools==4.60.1
frozenlist==1.8.0
fsspec==2025.10.0
future==1.0.0
gensim==4.4.0
gradio==5.49.1
gradio_client==1.13.3
graphrag==2.7.0
graspologic==3.4.4
graspologic-native==1.2.5
greenlet==3.2.4
groovy==0.1.2
h11==0.16.0
hf-xet==1.2.0
html2text==2025.4.15
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.1.2
humanfriendly==10.0
hyppo==0.5.2
idna==3.11
importlib_metadata==8.7.0
ipykernel @ file:///C:/miniconda3/conda-bld/ipykernel_1757583382905/work
ipython @ file:///C:/miniconda3/conda-bld/ipython_1759328513319/work
ipython_pygments_lexers @ file:///C:/b/abs_b66hj1lo19/croot/ipython_pygments_lexers_1744753262043/work
isodate==0.7.2
jedi @ file:///C:/b/abs_3a2kbnlclc/croot/jedi_1733987412687/work
Jinja2==3.1.6
jiter==0.11.1
joblib==1.5.2
json_repair==0.52.4
jsonpatch==1.33
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client @ file:///C:/b/abs_149bw133if/croot/jupyter_client_1737570986926/work
jupyter_core @ file:///C:/b/abs_7c6fipznw3/croot/jupyter_core_1751991383524/work
kiwisolver==1.4.9
lance-namespace==0.0.20
lance-namespace-urllib3-client==0.0.20
lancedb==0.25.2
langchain-classic==1.0.0
langchain-community==0.4.1
langchain-core==1.0.7
langchain-ollama==1.0.0
langchain-openai==1.0.3
langchain-text-splitters==1.0.0
langcodes==3.5.0
langgraph==1.0.3
langgraph-checkpoint==3.0.1
langgraph-prebuilt==1.0.4
langgraph-sdk==0.2.9
langsmith==0.4.43
language_data==1.3.0
litellm==1.79.1
llvmlite==0.45.1
loguru==0.7.3
lxml==6.0.2
magika==0.6.3
Mako==1.3.10
mammoth==1.11.0
marisa-trie==1.3.1
markdown-it-py==4.0.0
markdownify==1.2.2
markitdown==0.1.4
MarkupSafe==3.0.3
marshmallow==3.26.1
matplotlib==3.10.7
matplotlib-inline @ file:///C:/miniconda3/conda-bld/matplotlib-inline_1758520223000/work
mdurl==0.1.2
mpmath==1.3.0
msal==1.34.0
msal-extensions==1.3.1
multidict==6.7.0
murmurhash==1.0.13
mypy_extensions==1.1.0
neo4j==6.0.3
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
networkx==3.5
nltk==3.9.1
numba==0.62.1
numpy==1.26.4
olefile==0.47
ollama==0.6.1
onnxruntime==1.20.1
openai==2.7.1
openpyxl==3.1.5
opentelemetry-api==1.39.0
orjson==3.11.4
ormsgpack==1.12.0
overrides==7.7.0
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049096285/work
pandas==2.3.3
parso @ file:///C:/b/abs_834b4mj92b/croot/parso_1733963322289/work
patsy==1.0.2
pdfminer.six==20251107
pillow==11.3.0
platformdirs @ file:///C:/miniconda3/conda-bld/platformdirs_1762356607961/work
playwright==1.56.0
POT==0.9.6.post1
preshed==3.0.10
prompt_toolkit @ file:///C:/miniconda3/conda-bld/prompt-toolkit_1761745034319/work
propcache==0.4.1
protobuf==5.29.5
psutil @ file:///C:/miniconda3/conda-bld/psutil_1761896536656/work
psycopg==3.3.1
pure_eval @ file:///C:/miniconda3/conda-bld/pure_eval_1757067065603/work
pyarrow==22.0.0
pycparser==2.23
pydantic==2.11.10
pydantic-settings==2.12.0
pydantic_core==2.33.2
pydub==0.25.1
pyee==13.0.0
Pygments @ file:///C:/miniconda3/conda-bld/pygments_1762431425708/work
PyJWT==2.10.1
pylance==0.39.0
PyMuPDF==1.26.6
pynndescent==0.5.13
pyparsing==3.2.5
pyreadline3==3.5.4
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-dotenv==1.2.1
python-multipart==0.0.20
python-pptx==1.0.2
pytz==2025.2
pywin32 @ file:///C:/b/abs_6c9w_vp9zi/croot/pywin32_1754670534373/work
PyYAML==6.0.3
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1762375608224/work
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.2.0
rich-toolkit==0.17.0
rignore==0.7.6
rpds-py==0.28.0
ruff==0.14.4
safehttpx==0.1.7
scikit-learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
semantic-version==2.10.0
sentry-sdk==2.47.0
shellingham==1.5.4
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
smart_open==7.4.4
sniffio==1.3.1
soupsieve==2.8
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.14.4
SQLAlchemy==2.0.44
sqlmodel==0.0.27
srsly==2.5.1
stack_data @ file:///C:/miniconda3/conda-bld/stack_data_1757067061065/work
starlette==0.49.3
statsmodels==0.14.5
sympy==1.14.0
tabulate==0.9.0
tenacity==9.1.2
textblob==0.19.0
thinc==8.3.7
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.1
tomlkit==0.13.3
tornado @ file:///C:/b/abs_7dzpc171lf/croot/tornado_1748956950306/work
tqdm==4.67.1
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
typer==0.20.0
typer-slim==0.20.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata==2025.2
umap-learn==0.5.9.post2
urllib3==2.5.0
uvicorn==0.38.0
wasabi==1.1.3
watchfiles==1.1.1
wcwidth @ file:///C:/b/abs_0c8p4c33bp/croot/wcwidth_1750352902378/work
weasel==0.4.2
websockets==15.0.1
win32_setctime==1.2.0
wrapt==2.0.0
xlrd==2.0.2
xlsxwriter==3.2.9
xxhash==3.6.0
yarl==1.22.0
youtube-transcript-api==1.0.3
zipp==3.23.0
zstandard==0.25.0
